.file
    background-color #fff
    border-radius 3px
    display table
    width 100%
    margin-bottom component-margin
    border 1px solid text-color-light
    overflow hidden

    &__icon,
    &__body
        display table-cell

    &__icon
        width 70px
        background-color text-color-lighter
        padding 10px

    &__body
        padding 10px
        width calc(100% - 70px)

    &__body-title
        font-weight bold

    &__body-summary
        font-size (12/16)*1rem
